.titulo{
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    position: relative;    
}

.body {
    background-color: #2c3e50;
}

.tabuleiro{
    width: 400px;
	height: 400px;
	margin: 0 auto;
    background-color: #34495e;
    color: #fff;
    border: 6px solid #2c3e50;
    border-radius: 10px;	
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);    
    text-decoration: none;
}

.restart {
    width: 200px;
    height: 70px;
    margin: 50px;
    color: rgb(14, 13, 13);
    border-radius: 10px;
    display: grid;
    flex-direction: column;
    position: absolute;
    left: 610px;  
    align-items: center;
    justify-content: center;        
    text-align: center;  
    align-items: center;   
    font-family: "Permanent Marker", cursive;
    font-size: 25px;
}

.restart:hover{
    cursor: pointer;
}

.b1 {
    font-family: "Permanent Marker", cursive;
    box-shadow: 2px 2px 2px 2px #34495e;
    border: 2px solid #34495e;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.b2 {
    font-family: "Permanent Marker", cursive;
    box-shadow: 2px 2px 2px 2px #34495e;
    border: 2px solid #34495e;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.b3 {
    font-family: "Permanent Marker", cursive;
    box-shadow: 2px 2px 2px 2px #34495e;
    border: 2px solid #34495e;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.b4 {
    font-family: "Permanent Marker", cursive;
    box-shadow: 2px 2px 2px 2px #34495e;
    border: 2px solid #34495e;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.b5 {
    font-family: "Permanent Marker", cursive;
    box-shadow: 2px 2px 2px 2px #34495e;
    border: 2px solid #34495e;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.b6 {
    font-family: "Permanent Marker", cursive;
    box-shadow: 2px 2px 2px 2px #34495e;
    border: 2px solid #34495e;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.b7 {
    font-family: "Permanent Marker", cursive;
    box-shadow: 2px 2px 2px 2px #34495e;
    border: 2px solid #34495e;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.b8 {
    font-family: "Permanent Marker", cursive;
    box-shadow: 2px 2px 2px 2px #34495e;
    border: 2px solid #34495e;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.b9 {
    font-family: "Permanent Marker", cursive;
    box-shadow: 2px 2px 2px 2px #34495e;
    border: 2px solid #34495e;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.b1:hover{
    cursor: pointer;
}

.b2:hover{
    cursor: pointer;
}

.b3:hover{
    cursor: pointer;
}

.b4:hover{
    cursor: pointer;
}

.b5:hover{
    cursor: pointer;
}

.b6:hover{
    cursor: pointer;
}

.b7:hover{
    cursor: pointer;
}

.b8:hover{
    cursor: pointer;
}

.b9:hover{
    cursor: pointer;
}

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 180px;
    align-items: center;
    justify-content: center;
    background-color: #2c3e50;
    color: #fff;
    height: 30px;
    width: 100%;
}


